<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>One Night Band</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-App-20x20@2x</string>
				<string>Icon-App-20x20@3x</string>
				<string>Icon-App-29x29@2x</string>
				<string>Icon-App-29x29@3x</string>
				<string>Icon-App-40x40@2x</string>
				<string>Icon-App-40x40@3x</string>
				<string>Icon-App-60x60@2x</string>
				<string>Icon-App-60x60@3x</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1915443838684965</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.9</string>
	<key>FacebookAppID</key>
	<string>1915443838684965</string>
	<key>FacebookDisplayName</key>
	<string>OneNightBand</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>OneNightBand needs to access your Media Library so that you can select, and add to your Session, mp3's that you have recorded and have the rights to.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>OneNightBand needs your location to find musicians in your area or in the city that you are searching for. Your specific location will NOT be given to anyone. Users will only be able to see what city you are in.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>OneNightBand needs your location to find musicians in your area or in the city the you search for. Your specific location will NOT be given to anyone. Users will only be able to see what city you are in.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to select user photo.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
